body {
  position: relative;
  color: black;
  width: 100vw;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  font-size: 20px !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.css-1ex1afd-MuiTableCell-root {
  font-size: 20px !important;
}

.MuiChip-root {
  font-size: 20px !important;
}

.MuiButtonBase-root {
  max-height: 50px !important;
}
